.basic, .subordinate{
	padding-top: 20px;
}

.basic-list-items{
	width: 50%;
	float: left;
	color: #444444;
	font-size: 13px;
	margin-bottom: 20px;
}

.list-items-label{
	line-height: 32px;
	float: left;
	width: 110px;
	padding-right: 5px;
	text-align: right;
}

.list-items-inp{
	width: 188px;
	height: 30px;
	line-height: 29px;
	padding-left: 10px;
	border: 1px solid #e1e3e5;
	border-radius: 2px;
}

.list-items-inp:focus{
	border-color: #71b7fd;
	box-shadow: 0px 0px 7px rgba(41,140,239,0.3);
}

.basic-list-items.fullw{
	width: 100%;
}

.basic-other{
	height: 126px;
	clear: both;
}

.basic-operate{
	border-top: 1px solid #e1e3e5;
	padding: 10px;
}

.operate-btns{
	float: right;
	height: 32px;
}

.operate-btns-items{
	width: 80px;
	height: 32px;
	line-height: 31px;
	color: #ffffff;
	font-size: 14px;
	background: #298cef;
	border: 0;
	border-radius: 2px;
	margin-right: 10px;
	cursor: pointer;
}

.operate-btns-items:hover{
	background: #2782de;
}

.operate-btns-items:active{
	position: relative;
	top: 1px;
}

.operate-status{
	line-height: 32px;
	color: #444444;
	font-size: 14px;
}

.operate-status .iconfont{
	color: #34cb89;
	margin: 0 5px;
	font-size: 24px;
}

.subordinate{
	padding-bottom: 20px;
}

.sub-title{
	height: 38px;
	line-height: 37px;
	border: 1px solid #dde5f0;
	border-bottom: 0;
	color: #444444;
}

.sub-operate{
	font-size: 13px;
	float: right;
	padding-right: 10px;
	cursor: pointer;
}

.sub-operate .iconfont{
	color: #298cef;
	margin-right: 6px;
}

.sub-title-text{
	font-size: 14px;
	padding-left: 10px;
}

.sub-grid{
	border: 1px solid #e1e3e5;
}

/*重写datagrid样式start*/
.datagrid-header .datagrid-header-inner, .datagrid-header-inner .datagrid-htable, .datagrid-body .datagrid-btable{
	width: 100%;
}

.datagrid-view2 .datagrid-header{
	height: 34px;
	border-top: 0;
	border-bottom: 1px solid #e1e3e5;
	background: #f5f7fa;
}

.datagrid-htable .datagrid-header-row{
	height: 35px;
}

.datagrid-htable .datagrid-header-row td{
	color: #444444;
	font-weight: normal;
	border-right: 1px solid #e1e3e5;
}

.datagrid-header .datagrid-header-row .datagrid-cell{
	padding: 0;
}

.datagrid-view2 .datagrid-body{
	color: #666666;
	font-size: 13px;
}

.datagrid-btable .datagrid-row{
	height: 31px;
	border-bottom: 1px solid #e1e3e5;
}

.datagrid-body td{
	border-right: 1px solid #e1e3e5;
}

.datagrid-body .datagrid-btable .datagrid-cell{
	padding: 0;
	line-height: 31px;
	font-size: 13px;
}

td[field="id"]{
	width: 49px;
}

td[field="operate"]{
	width: 119px;
}

.datagrid-htable .datagrid-header-row td[field="operate"],
.datagrid-body td[field="operate"]{
	border-right: 0;
}

.datagrid-row.datagrid-row-over{
	background: none;
}

.datagrid-row.datagrid-row-alt, .datagrid-row.datagrid-row-alt.datagrid-row-over{
	background: #f5f7fa;
}

.datagrid-pager.pagination{
	border-top: 0;
	border-bottom: 0;
	height: 39px;
	line-height: 38px;
}

.pagination .pagination-info{
	padding-top: 0;
	color: #444444;
}

.datagrid-pager.pagination .iconfont{
	color: #96a5b3;;
}

.datagrid-pager.pagination span{
	color: #444444;
}

.pagination-page-list{
	width: 48px;
	border-color: #dde5f0;
}

.pagination .pagination-num{
	border-color: #dde5f0;
	width: 42px;
	height: 22px;
}

/*重写datagrid样式end*/

.datagrid-cell a.operate-items{
	color: #298cef;
}

.datagrid-cell a.operate-items:hover{
	color: #2782de;
}

.operate-items-edit{
	margin-right: 15px;
}

/*重写dialog样式start*/
.ui-dialog .ui-dialog-head{
	height: 40px;
	background: url(imgs/dialog-title-ico.png) 15px center no-repeat #f5f7fa;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	border: 1px solid #e1e3e5;
	border-radius: 0;
	line-height: 38px;
}

.ui-dialog-head .ui-dialog-title{
	padding-left: 45px;
	color: #444444;
	font-size: 16px;
}

.ui-dialog-head a.ui-dialog-close{
	color: #96a5b3;
	font-size: 20px;
	line-height: 38px;
	top: 0;
}

.ui-dialog-head a.ui-dialog-close:hover{
	color: #e54d4d;
}

.ui-dialog .ui-dialog-content{
	border: 1px solid #e1e3e5;
	border-top: 0;
}
/*重写dialog样式end*/