/*! dialog-debug.css */
.ui-dialog {
    border: none;
    outline: none;
}

.ui-dialog-head{
	height: 30px;
	width: 100%;
	display: block;
	background: #5d9cec;
	border-radius: 3px 3px 0 0;
	position: relative;
	line-height: 30px;
}

.ui-dialog-content {
    background: #fff;
    display: block;
}

:root .ui-dialog {
    FILTER: none\9;
}

a.ui-dialog-close {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
	right: 9px;
    top: 9px;
    z-index: 10;
}
.ui-dialog-close:hover {
    color: #fff;

}

.ui-dialog-title {
	font-size: 14px;
	color: #fff;
	padding-left: 10px;
}

.ui-dialog-container {
    /*padding:15px 20px 20px;*/
    font-size: 12px;
}

.ui-dialog-message {
    /*margin-bottom:15px;*/
    padding: 10px;
}

.ui-dialog-operation {
    zoom:1;
    text-align: right;
    padding: 10px;
    padding-top: 0px;
}

.ui-dialog-confirm, .ui-dialog-cancel {
    display: inline;
}

.ui-dialog-operation .ui-dialog-confirm {
    margin-right: 4px;
}

.ui-dialog-button-orange,
.ui-dialog-button-white {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    border-radius: 2px;
    padding: 0 12px;
    line-height:23px;
    height:23px;
    *overflow: visible; /* for a ie6/7 bug http://blog.csdn.net/jyy_12/article/details/6636099 */ 
    background-image: none;
}

a.ui-dialog-button-orange:hover,
a.ui-dialog-button-white:hover {
    text-decoration: none;
}

.ui-dialog-button-orange {
    color: #fff;
    border:1px solid #d66500;
    background-color: #f57403;
}

.ui-dialog-button-orange:hover {
    background-color: #fb8318;
}

.ui-dialog-button-white {
    border:1px solid #afafaf;
    background-color: #f3f3f3;
    color: #777;
}

.ui-dialog-button-white:hover {
    border: 1px solid #8e8e8e;
    background-color: #fcfbfb;
    color: #676d70;
}