.ztree li span.button.org_i_ico_open{
	background-image: url("imgs/I.png");
}
.ztree li span.button.org_i_ico_close{
	background-image: url("imgs/I.png");
}
.ztree li span.button.org_i_ico_docu{
	background-image: url("imgs/I.png");
}

.ztree li span.button.org_o_ico_open{
	background-image: url("imgs/O.png");
}
.ztree li span.button.org_o_ico_close{
	background-image: url("imgs/O.png");
}
.ztree li span.button.org_o_ico_docu{
	background-image: url("imgs/O.png");
}

.ztree li span.button.org_p_ico_open{
	background-image: url("imgs/P.png");
}
.ztree li span.button.org_p_ico_close{
	background-image: url("imgs/P.png");
}
.ztree li span.button.org_p_ico_docu{
	background-image: url("imgs/P.png");
}

.ztree li span.button.org_RY_ico_open{
	background-image: url("imgs/RY.jpg");
}
.ztree li span.button.org_RY_ico_close{
	background-image: url("imgs/RY.jpg");
}
.ztree li span.button.org_RY_ico_docu{
	background-image: url("imgs/RY.jpg");
}

#orgInfo .ui-box .ui-label{
	width: 180px;
}
#orgInfo .ui-box .ui-label_width{
	width: 380px;
}
#orgInfo .ui-box-container{
	display: none;
}
.org-title{
    font-weight: bold;
}

.search-bar .ui-button {
    width: auto;
    margin-right: 10px;
}

.ui-select{
    z-index: 999;
}
body .ui-calendar{
    z-index: 999;
}

.iorgjr{
	line-height: 0;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    border: 0 none;
    cursor: pointer;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-attachment: scroll;
}


.ui-box-head{
	border-bottom: 1px solid #d3e3f6;
	color: #333333;
}
.ui-box-head-container{
	background: #dfe3e9;
    border:1px solid #ccd2db;
	border-bottom: none;
}
.search-box{
	padding:10px;
	background: #fafafa;
	border-bottom: 1px solid #e3e5e8;
	position: relative;
}
.search-form-3item .search-form-item-col,.search-form-3item .search-form-item-have2col,.search-form-2item .search-form-item-col{
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin: 3px 0;			
	margin-right:-8px; 
}

.search-form-item-col{
	width: 33.3333%;
}

.search-form-2item .search-form-item-col{
	width: 50%;
}

.search-form-item-have2col{
	width: 66.667%;
}
.search-bar{
	text-align: right;
	padding-right: 10px;
	height: 40px;
	line-height: 40px;
    float: right;       
    margin-top: -8px;
}
.search-bar .ui-button{
	background: none;
	color: #333333;
	font-weight: normal;
}
.search-bar a.ui-button:hover{
	color: #5d9cec;
}

.search-more{
	width: 90px;
	height: 28px;
	position: absolute;
	bottom: -29px;
	left: 17px;
	background: #fafafa;
	border:1px solid #e3e5e8;
	border-top: none;
	border-radius: 0 0 3px 3px;
	line-height: 28px;
	text-align: center;
}

.search-more .iconfont{
	font-size: 12px;
	padding-left: 5px;
}

.ui-datagrid{
	padding: 5px;
}