.header-container {
  width: 1250px;
}
.body-container{
	width: 1250px;
	  margin: 0 auto;
}
.header #username {
  color: #FFFFFF;
  display: inline-block;
  height: 38px;
  line-height: 38px;
  position: relative;
  min-width: 90px;
  vertical-align: top;
  text-align: right;
  margin-top: 2px;
  margin-right: 5px;
  font-weight: bold;
  cursor: pointer;
}
.header{
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 90;
}
.body-container {
  padding-top: 50px;
}
.logo .iconfont{
  width: 26px;
}





.ui-box-head{
	border-bottom: 1px solid #d3e3f6;
	color: #333333;
}
.ui-box-head-container{
	background: #dfe3e9;
    border:1px solid #ccd2db;
	border-bottom: none;
}

.ui-form-title {
    border-bottom: 1px #ccd2db solid;
}
.ui-form-title .ui-form-title-borderL {
    border-left: 4px solid #ccd2db;
}

.search-bar .ui-button{
	background: none;
	color: #333333;
	font-weight: normal;
}

.search-bar a.ui-button:hover{
	color: #5d9cec;
}

.datagrid-view .datagrid-header {
    border-bottom: 2px solid #ccd2db;
}
